@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgb(55, 65, 81);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 85, 99);
}
